:root{
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: rgb(247, 221, 190);
}
body .titulo{
    background-color: #eb5b5b;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.titulo h1{
    font-weight: bold;
}